@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* border: 1px solid black; */
}
html {
    scroll-behavior: smooth;
}
.max-width {
    max-width: 100vw;
    padding: 0 80px;
    margin: auto;
}
body {
    overflow: auto;
}
.boldp {
    font-weight: bold;
}

/* NAVBAR STYLING */
.navbar {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky {
    padding: 15px 0;
    background: #f39237;
}
.navbar .max-width {
    display: flex;
    align-items: left;
    justify-content: space-between;
}
.navbar .nav-title {
    font-size: 48px;
    font-weight: 600;
    float: left;
}
.navbar .nav-title a {
    color: #fef9ef;
}
.navbar .menu {
    float: right;
    margin-top: 16px;
    margin-left: 10px;
}
.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    display: block;
    color: #fef9ef;
    font-size: 20px;
    font-weight: 500;
    margin-left: 24px;
    transition: all 0.3s ease;
}
.navbar .menu li a:hover {
    color: #2c302e;
}
.navbar.sticky .menu li a:hover{
    color: #2c302e;
    transition: all 0.3s ease;
}
.navbar .menu-btn {
    color: #fef9ef;
    font-size: 24px;
    cursor: pointer;
    display: none;
}
.navbar .beta-btn {
    align-items: right;
    background-color: #2c302e;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 20px;
}
.navbar .beta-btn a {
    color: #fef9ef;
    text-align: center;
}

/* HOME SECTION STYLING */
.home {
    display: flex;
    background: url("newimgs/mule-logo.png") no-repeat;
    background-size: 1000px;
    background-position: 50% 70%;
    background-color: #f39237;
    min-height: 100vh;
    color: #fef9ef;
    font-family: "Roboto", sans-serif;
}
.home .home-content {
    align-items: center;
}
.home h1 {
    font-size: 80px;
    font-weight: 600;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
}
.home h2 {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
}

/* MISSION SECTION STYLING */
.mission {
    display: flex;
    background-color: #2c302e;
    height: 100vh;
    color: #808f87;
    min-height: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.mission .mission-content .column {
    display: inline-block;
}
.mission .mission-content .left {
    width: calc(55% - 40px);
    vertical-align: middle;
}
.mission .mission-content .right {
    width: calc(45% - 30px);
    vertical-align: middle;    
}
.mission .mission-content img {
    margin-left: 35%;
}
.mission h2 {
    color: #ef7b45;
    font-size: 56px;
    font-weight: 300;
}
.mission p {
    font-size: 20px;
}

/* FEATURES SECTION STYLING */
.features {
    display: flex;
    background-color: #fef9ef;
    height: 100vh;
    color: #2c302e;
    min-height: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.features .features-content .column {
    display: inline-block;
}
.features .features-content .left {
    width: calc(45% - 30px);
    vertical-align: middle;
}
.features .features-content .right {
    width: calc(55% - 40px);
    vertical-align: middle;
}
.features .features-content .slide img {
    width: 25vw;
}
.features h2 {
    color: #ef7b45;
    font-size: 56px;
}
.features p {
    font-size: 20px;
}

.features .features-content .slide {
    display: none;
}
.features .features-content .slideshow-container {
    width: 25vw;
    margin: auto;
}
.features .features-content .slideshow-controls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.features .features-content .slideshow-container .caption {
    display: flex;
    justify-content: center;
    margin-top: -50px;
}
.features-content .prev, .features-content .next {
    cursor: pointer;
    transition: 0.6s ease;
    user-select: none;
    margin: 0 5px;
}
.features-content .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #7f9183ae;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.features-content .active {
    background-color: #ef7b45;
}
.features-content .dot:hover {
    background-color: #f39237;
}
.fade {
    animation-name: fade;
    animation-duration: 1.0s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* TEAM SECTION STYLING */
.team {
    display: flex;
    background-color: #2c302e;
    min-height: 100vh;
    color: #808f87;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
}
.team-content .team-members {
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    max-width: 100%;
}
.team-content .column {
    display: inline-block;
    width: calc(33%-50px);
    padding-right: 20px;
    padding-left: 20px;
}
.team-content h2 {
    margin-top: -100px;
    margin-bottom: 100px;
    color: #ef7b45;
    font-size: 56px;
}
.team-content img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px solid #ef7b45;
}
.team-content h3 {
    font-size: 24px;
}
.team-content p {
    font-size: 24px;
    text-align: left;
}

/* CONTACT SECTION STYLING */
.contact {
    display: flex;
    background-color: #fef9ef;
    height: 50vh;
    color: #2c302e;
    min-height: 500px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-align: center;
}
.contact-content h2 {
    font-size: 56px;
}
.contact-content .row {
    display: flex;
    margin: auto;
    justify-content: center;
}
.contact-content .row .cell {
    display: inline-block;
}
.contact-content p {
    font-size: 24px;
    margin-right: 32px;
    font-weight: 400;
}
.contact-content a {
    color: #2c302e;
}
.contact-content i {
    font-size: 24px;
}

/* FOOTER STYLING */
footer {
    background-color: #ef7b45;
}

/* RESPONSIVE MEDIA (phone resizing) */
/* 4k screens */
@media (max-width: 2560px) {
    .home {
        background-size: 1400px;
    }
    .home-content h1 {
        font-size: 100px;
        margin-top: 300px;
        margin-bottom: 300px;
    }
    .home-content h2 {
        font-size: 60px;
    }
    .mission-content h2 {
        font-size: 70px;
    }
    .mission-content p {
        font-size: 28px;
    }
    .mission-content img {
        width: 50%;
        height: auto;
    }
    .features .features-content .slide img {
        width: 20vw;
        margin-left: 2.5vw;
    }
    .features-content .slideshow-container {
        width: 20vw;
        margin: auto;
    }
    .team-content h2 {
        font-size: 70px;
    }
    .team-content img {
        height: 400px;
        width: 400px;
    }
    .team-content h3 {
        font-size: 40px;
    }
    .team-content p {
        font-size: 30px;
    }
}
/* macbook pro resolution (16 inch) */
@media (max-width: 1800px) {
    .home {
        background-size: 950px;
        background-position: 50% 60%;
    }
    .home h1 {
        font-size: 80px;
        font-weight: 600;
        text-align: center;
        margin-top: 250px;
        margin-bottom: 250px;
    }
    .home h2 {
        font-size: 40px;
        font-weight: 300;
        text-align: center;
    }
    .team-content h2 {
        margin-top: -50px;
        margin-bottom: 50px;
    }
    .mission-content h2 {
        color: #ef7b45;
        font-size: 56px;
        font-weight: 300;
    }
    .mission-content p {
        font-size: 20px;
    }
    .team-content h2 {
        font-size: 60px;
    }
    .team-content img {
        height: 250px;
        width: 250px;
    }
    .team-content h3 {
        font-size: 30px;
    }
    .team-content p {
        font-size: 20px;
    }    
}
@media (max-width: 1080px) {
    .navbar .menu {
        display: none;
    }
    .home {
        background-size: 750px;
    }
    .home h1 {
        font-size: 60px;
    }
    .home h2 {
        font-size: 30px;
    }
}
@media (max-width: 900px) {
    .max-width {
        padding: 0 40px;
    }
    .team-content img {
        height: 200px;
        width: 200px;
    }
    .contact h2 {
        font-size: 40px;
    }
    .contact p {
        font-size: 20px;
    }
}
/* 13 pro max width*/
@media (max-width: 428px) {
    .navbar .nav-title {
        font-size: 32px;
    }
    .navbar .beta-btn {
        margin-left: 20px;
        padding: 10px 20px;
        font-size: 12px;
    }
    .home {
        background-size: 70vh;
    }
    .home-content h1 {
        margin-top: 250px;
        margin-bottom: 150px;
    }
    .mission-content h2 {
        font-size: 32px;
    }
    .mission .mission-content .column {
        display: block;
    }
    .mission .mission-content .left {
        width: 100%;
    }
    .mission .mission-content .right {
        display: none;
    }
    .features {
        min-height: 1600px;
    }
    .features .features-content .column {
        display: block;
    }
    .features .features-content .left {
        width: 100%;
    }
    .features .features-content .right {
        width: 100%;
        margin-top: 50px;
    }
    .features .features-content .slide img {
        width: 100%;
    }
    .features .features-content .slideshow-container {
        width: 100%;
    }
    .features-content h2 {
        font-size: 40px;
    }
    .team {
        min-height: 1800px;
    }
    .team .team-content .team-members {
        display: block;
    }
    .team .team-content .column {
        display: block;
        width: 100%;
        margin-top: 50px;
    }
}